<%- include('partials/adminheader') %>
<form action="/admin_login" method="post">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/home">ABC College</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/student_login">Student Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/staff_login">Staff Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container d-flex align-items-center justify-content-center" style="min-height: 90vh;">
    <div class="col-md-6 col-lg-5">
      <div class="card p-4">
        <h3 class="mb-3 text-primary text-center">Admin Login</h3>
          <div class="mb-3">
            <label for="staff-name" class="form-label">Email</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-person"></i></span>
              <input type="text" class="form-control" name="username" id="staff-name" placeholder="Enter your name" required autocomplete="off">
            </div>
          </div>
          <div class="mb-3">
            <label for="staff-id" class="form-label">password</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-lock"></i></i></span>
              <input type="text" class="form-control" name="password" id="staff-id" placeholder="Enter your password" required autocomplete="off">
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100 mt-2">Login</button>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      </form>
<%- include('partials/footer') %>